*{
    margin:0;
    padding:0;
    font-family: Century Gothic;
}
ul{
    float:right;
    list-style-type:  none;
    margin-top: 25px;

}

ul li{
    display: inline-block;
margin-right: 40px;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 0.2px;
    transition: 0.5s ease;
}

ul li a:hover{
    color: black;
}

ul li a.active{
    border-bottom: 2px solid #cd99d4;
    color: black;
}

ul li a.contact{
    border: 1px solid black;
    padding:5px 20px;
    border-radius: 3px;
    color: #blue;
}

ul li a.contact:hover{
    background-color: black;
    color:blue;
}
* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}